<th:block th:fragment="messages">
    <div th:if="${successMsg}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${successMsg}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${errorMsg}" class="alert alert-danger alert-dismissible fade show">
        <span th:text="${errorMsg}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</th:block>