<!-- layout.html을 상속 받도록 설정. -->
<html layout:decorate="~{layout}">
    <th:block layout:fragment="head">
        <!--  csrf 토큰  -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!--  csrf 헤더  -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>
    <!-- 부모 템플릿(layout.html)의 layout:fragment="content" 부분에 삽입되도록 설정. -->
    <div layout:fragment="content" class="container my-3">
        <!-- 댓글 페이지 예외 발생시 메시지 출력. -->
        <div th:replace="~{alert-messages :: messages}"></div>

        <div class="card my-4 shadow-sm">
            <div class="card-body">
                <div class="p-3 bg-light rounded border mb-3">
                    <span class="fs-5 fw-bold" th:text="${article.title}"></span>
                </div>
                <table class="table table-bordered text-center align-middle mb-2" style="table-layout: fixed;">
                    <tbody>
                    <tr>
                        <th class="bg-light" style="width: 25%;">작성자</th>
                        <td th:text="${article.author != null ? article.author.username : '-'}"></td>
                        <th class="bg-light" style="width: 25%;">조회수</th>
                        <td th:text="${article.countView}"></td>
                    </tr>
                    <tr>
                        <th class="bg-light">작성일시</th>
                        <td th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        <th class="bg-light">수정일시</th>
                        <td th:text="${article.modifyDate != null ? #temporals.format(article.modifyDate, 'yyyy-MM-dd HH:mm') : '-'}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <a href="#comments" class="btn btn-outline-primary btn-sm">댓글 보러가기</a>
                </div>
            </div>
        </div>


        <div class="card my-3">
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>

                <div class="mt-auto pt-2">
                    <div>
                        <!-- 글 추천, 수정, 삭제. -->
                        <button class="btn vote-btn"
                                th:data-id="${article.id}"
                                data-type="article"
                                th:classappend="${siteUser != null and #lists.contains(article.voter, siteUser)} ? 'btn-outline-success' : 'btn-outline-primary'">
                            추천
                            <span class="badge rounded-pill bg-dark ms-1 vote-count" th:text="${#lists.size(article.voter)}"></span>
                        </button>
                        <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-outline-success"
                           sec:authorize="isAuthenticated()" th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.getAuthor().username}"
                           th:text="수정">
                        </a>
                        <form id="articleDeleteForm" th:action="@{|/article/delete/${article.id}|}" method="post"
                              sec:authorize="isAuthenticated()"
                              th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.getAuthor().username}"
                              class="d-inline">
                            <!-- ↑ form 태그는 블록(Block) 요소라 줄바꿈이 발생해서 'class="d-inline' 코드를 추가해서 수정 버튼 옆에 한 줄로 나란히 배치되도록. -->
                            <button type="button" th:onclick="confirmDelete('articleDeleteForm')" class="btn btn-outline-danger">
                                삭제
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- 댓글 개수 표시. -->
        <h5 id="comments" class="border-bottom my-3 py-2" th:text="|${#lists.size(article.commentList)}개의 댓글이 있습니다.|"></h5>
        <form th:action="@{|/article/detail/${article.id}|}" method="get" class="d-flex align-items-center gap-2 mb-3">
            <input type="hidden" name="page" th:value="${page}" />
            <input type="hidden" name="size" th:value="${size}" />
            <input type="hidden" name="sortType" th:value="${sortType}" />
            <input type="hidden" name="cmt-page" value="0" />

            <label for="sortSelect" class="fw-bold">정렬:</label>
            <select id="sortSelect" name="cmt-sortType" class="form-select w-auto" onchange="this.form.submit()">
                <option th:value="date" th:selected="${cmtSortType == 'date'}">최신순</option>
                <option th:value="vote" th:selected="${cmtSortType == 'vote'}">추천순</option>
            </select>
        </form>
        <!-- 댓글 관련 메시지 출력. -->
        <div th:if="${successMsgCmt}" class="alert alert-success alert-dismissible fade show">
            <span th:text="${successMsgCmt}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- 댓글 반복 출력 -->
        <div class="card my-3" th:each="comment : ${commentList}">
            <!-- HTML 앵커(anchor) 태그를 이용한 '페이지 내 위치 표시용' -->
            <a th:id="|comment_${comment.id}|"></a>
            <div class="card-body">
                <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
                    <div class="border-top my-2"></div>

                <div class="mt-auto pt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <!-- 댓글 추천, 수정, 삭제. -->
                            <button class="btn vote-btn"
                                    th:data-id="${comment.id}"
                                    data-type="comment"
                                    th:classappend="${#lists.contains(comment.voter, siteUser)} ? 'btn-outline-success' : 'btn-outline-primary'">
                                추천
                                <span class="badge rounded-pill bg-dark ms-1 vote-count" th:text="${#lists.size(comment.voter)}"></span>
                            </button>
                            <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-outline-success ms-1"
                               sec:authorize="isAuthenticated()"
                               th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.getAuthor().username}"
                               th:text="수정">
                            </a>
                            <form th:id="'commentDeleteForm_' + ${comment.id}" th:action="@{|/comment/delete/${comment.id}|}" method="post"
                                  sec:authorize="isAuthenticated()"
                                  th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.getAuthor().username}"
                                  class="d-inline">
                                <button type="button" class="btn btn-outline-danger ms-1"
                                        th:onclick="|confirmDelete('commentDeleteForm_' + ${comment.id})|">
                                    삭제
                                </button>
                            </form>
                        </div>
                        <!-- 댓글 작성일시 -->
                        <div class="d-flex align-items-center fs-6 text-dark">
                            <strong class="me-2">작성자:</strong>
                            <span class="me-3" th:text="${comment.author != null ? comment.author.username : '-'}"></span>
                            <strong class="me-2">작성일시:</strong>
                            <span class="me-3" th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                            <span th:if="${comment.modifyDate != null}">
                                <strong class="me-2">수정일시:</strong>
                                <span th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- 댓글 작성 -->
        <form th:action="@{|/comment/create/${article.id}|}" method="post" th:object="${commentDto}" class="my-3" id="commentForm" th:attr="data-error=${#fields.hasErrors('content')}">
            <div th:replace="~{binding_result_errors :: bindingResultErrorsFragment}"></div>
            <textarea sec:authorize="isAnonymous()" disabled placeholder="댓글을 작성하려면 로그인이 필요해요." th:field="*{content}" rows="7" class="form-control" style="resize: none"></textarea>
            <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="7" class="form-control" style="resize: none"></textarea>
            <div class="d-flex justify-content-between">
                <a th:href="@{|/article/list?page=${page}&size=${size}&sortType=${sortType}|}" class="btn btn-outline-success my-2">목록</a>
                <button type="submit" class="btn btn-outline-primary my-2">댓글 등록하기</button>
            </div>
        </form>

        <!-- 댓글 페이징처리 -->
        <div th:if="${!commentList.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!commentList.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${page}&size=${size}&sortType=${sortType}&cmt-page=0&cmt-sortType=${cmtSortType}|}">&laquo;</a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${page}&size=${size}&sortType=${sortType}&cmt-page=${commentList.number - 1}&cmt-sortType=${cmtSortType}|}">
                        <span>&lt;</span>
                    </a>
                </li>
                <li th:each="cmtPage : ${#numbers.sequence(0, commentList.totalPages - 1)}"
                    th:if="${cmtPage >= commentList.number - 5 and cmtPage <= commentList.number + 5}"
                    th:classappend="${cmtPage == commentList.number} ? 'active'" class="page-item">
                    <a th:text="${cmtPage + 1}" class="page-link" th:href="@{|?page=${page}&size=${size}&sortType=${sortType}&cmt-page=${cmtPage}&cmt-sortType=${cmtSortType}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${page}&size=${size}&sortType=${sortType}&cmt-page=${commentList.number + 1}&cmt-sortType=${cmtSortType}|}">
                        <span>&gt;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${!commentList.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${page}&size=${size}&sortType=${sortType}&cmt-page=${commentList.totalPages - 1}&cmt-sortType=${cmtSortType}|}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
</html>

<script>
    const csrfToken = document.querySelector("meta[name='_csrf']").content;
    const csrfHeader = document.querySelector("meta[name='_csrf_header']").content;

    const commentFormEl = document.getElementById('commentForm');

    document.querySelectorAll('.vote-btn').forEach(btn => {
        btn.addEventListener('click', () => {
            const id = btn.dataset.id;
            const type = btn.dataset.type;
            const url = `/${type}/vote/${id}`;
            const countSpan = btn.querySelector('.vote-count')

            fetch(url, {
                method: 'POST',
                headers: {
                    [csrfHeader]: csrfToken,
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(res => {
                if (res.status === 401) {
                    return res.json().then(data => {
                        alert(data.error)
                        window.location.href = '/user/login';
                        throw new Error("Unauthorized");
                    });
                } else if (res.status === 403) {
                    return res.text().then(data => {
                        alert(data)
                        throw new Error("Forbidden");
                    });
                }
                return res.text();
            })
            .then(voteCount => {
                countSpan.textContent = voteCount;

                if (btn.classList.contains('btn-outline-primary')) {
                    btn.classList.remove('btn-outline-primary');
                    btn.classList.add('btn-outline-success');
                } else {
                    btn.classList.remove('btn-outline-success');
                    btn.classList.add('btn-outline-primary');
                }
            })
            .catch(err => console.error(err));
        })

    })
    function confirmDelete(formId) {
        // console.log(document.getElementById(formId));
        // console.log(formId);
        if (confirm("정말 삭제하시겠습니까?")) {
            document.getElementById(formId).submit();
        }

    }
    if (commentFormEl != null && commentFormEl.dataset.error === "true") {
        console.log(commentFormEl.dataset.error)
        commentFormEl.scrollIntoView({ behavior: 'smooth', block: 'start' });
        commentFormEl.querySelector('textarea').focus();
    }
</script>