<!-- layout.html을 상속 받도록 설정. -->
<html layout:decorate="~{layout}">
    <!-- 부모 템플릿(layout.html)의 layout:fragment="content" 부분에 삽입되도록 설정. -->
    <div layout:fragment="content" class="container my-3">
        <h5 class="my-3 border-bottom pb-2">게시판 글쓰기</h5>
        <form th:action="@{/article/create}" method="post" th:object="${articleDto}">
            <!-- {뷰 템플릿 파일명 :: 해당 템플릿 안에 정의된 프레그먼트 이름 -->
            <div th:replace="~{binding_result_errors :: bindingResultErrorsFragment}"></div>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" placeholder="제목을 입력해 주세요." th:field="*{title}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea placeholder="내용을 입력해 주세요." th:field="*{content}" class="form-control" rows="10" style="resize: none"></textarea>
            </div>
            <button type="submit" class="btn btn-primary my-2">등록하기</button>
        </form>
    </div>
</html>