<!-- layout.html을 상속 받도록 설정. -->
<html layout:decorate="~{layout}">
<!-- 부모 템플릿(layout.html)의 layout:fragment="content" 부분에 삽입되도록 설정. -->
    <div layout:fragment="content" class="container my-3" style="max-width: 900px">
        <h4 class="my-3 border-bottom pb-2">아이디 찾기</h4>
        <form th:action="@{/user/find-id}" th:object="${findIdDto}" method="post">
            <div th:replace="~{binding_result_errors :: bindingResultErrorsFragment}"></div>
            <div class="mb-3">
                <label for="email" class="form-label">이메일</label>
                <input type="email" th:field="*{email}" class="form-control" placeholder="이메일 주소를 입력해 주세요.">
            </div>
            <button type="submit" class="btn btn-outline-primary w-100">아이디 찾기</button>
        </form>
        <div th:if="${username}" class="alert alert-success mt-3 text-center">
            <p>입력하신 이메일로 가입되어 있는 회원님의 아이디는 <strong th:text="${username}"></strong> 입니다.</p>
        </div>
    </div>
</html>