<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSRF 토큰, 헤더 -->
    <th:block layout:fragment="head"></th:block>
    <!-- 부트스트랩 CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
    <title>Thymeleaf 게시판</title>
</head>
<body>

<!-- 부트스트랩 : 내비게이션 바 클래스. -->
<nav class="navbar navbar-expand-lg navbar-light bg- border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/article/list?page=0&size=10">ThymeBoard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                     data-bs-target="#navbarSupportedContent"
                                                     aria-controls="navbarSupportedContent"
                                                     aria-expanded="false"
                                                     aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item me-5">
                    <a class="nav-link" th:href="@{/article/list?page=0&size=10}">게시판</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인 / 회원가입</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- layout.html을 상속 받을 템플릿에서 구현할 영역 Start -->
<th:block layout:fragment="content"></th:block>
<!-- layout.html을 상속 받을 템플릿에서 구현할 영역 End -->

<!-- 부트스트랩 JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>